@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, p {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .dodge {
    transform: translateX(calc(100vw - 100px)) !important; /* Moves the button far to the right */
  }
}
